
.orange{
    background-color:#F5984E;
  }
  .titre{
    font-size: 55px;
  }
  .dark{
    background-color: #000000;
  }
  .erwin{
    float: left;
    margin: 0 0 0 15px;  
  }

  

  .m30{
margin: 32px;
  }

  .wh{
      color: white;
  }
  @media screen and (max-width: 991px) {
    .btnor {
    margin: 15px;
    }
  }
  .btnor{
    background-color: hsl(27, 89%, 63%);
  } 
.imgcard{
  height:180px ;
  width: 100%;
}

/* .card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
} */



footer{
background-color: #000000;
  color: white;
  padding: 10px;
}


.mt30{
  margin-top: 180px;
    }